Checks: >
  -*,
  readability-redundant-declaration,
  readability-redundant-casting,
  misc-include-cleaner,
WarningsAsErrors: ""
HeaderFilterRegex: '^(src|include)\/.*\.h$'
FormatStyle: "file"
CheckOptions:
  # Require argument names to match exactly (instead of allowing a name to be a prefix/suffix of another)
  # Note: 'true' is expected by clang-tidy 12+ but '1' is used for compatibility with older versions
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: 1
  - key: readability-redundant-casting.IgnoreHeaders
    value: 'common\.h'
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'common\.h;ultratypes\.h;include_asm\.h;h>'
