[submodule "lib/ultralib"]
	path = lib/ultralib
	url = https://github.com/cdlewis/ultralib.git
[submodule "lib/libmus"]
	path = lib/libmus
	url = https://github.com/cdlewis/libmus.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
[submodule "lib/f3dex2"]
	path = lib/f3dex2
	url = https://github.com/Mr-Wiseguy/f3dex2.git
