snowboardkids2.z64
snowboardkids2.eeprom
tools/gcc_kmc
__pycache__
tools/task-runner/logs
tools/claude_logs_*
tools/ignored_prompts_*.log

# IDE and OS nonsense
.clj-kondo
.lsp
.DS_Store
.vscode
.venv

# permuter
src/temp.c
src/ctx.c

# build artefacts
build.log
snowboardkids2.map
nonmatchings
undefined_funcs_auto.txt
undefined_syms_auto.txt
romdiff
romdiffcount
build
assets
asm
snowboardkids2.d
snowboardkids2.ld
astemp_*
report.json

# secrets
.decomp_dev_secret
.push_secrets

# claude
**/.claude/settings.local.json
base_1_object_dump.s
target_object_dump.s
src/claude
tools/vacuum.log
tools/vacuum-*.log

# m2c
ctx.c
ctx.c.m2c
