build
assets
asm
snowboardkids2.d
snowboardkids2.ld
snowboardkids2.z64
.clj-kondo
.lsp
.DS_Store
snowboardkids2.eeprom
romdiff
romdiffcount
.vscode
undefined_funcs_auto.txt
undefined_syms_auto.txt
.venv
ctx.c
tools/gcc_kmc
snowboardkids2.map
nonmatchings
__pycache__
src/temp.c
.push_secrets
astemp_*