[submodule "tools/splat"]
	path = tools/splat
	url = git@github.com:ethteck/splat.git
[submodule "tools/findcode"]
	path = tools/findcode
	url = git@github.com:cdlewis/findcode.git
[submodule "lib/ultralib"]
	path = lib/ultralib
	url = git@github.com:cdlewis/ultralib.git
[submodule "tools/old-gcc"]
	path = tools/old-gcc
	url = git@github.com:decompals/old-gcc.git
