certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
crunch64==0.5.1
idna==3.10
intervaltree==3.1.0
mapfile_parser==2.7.1
n64img==0.3.3
pygfxd==1.0.2
pylibyaml==0.1.0
pypng==0.20220715.0
PyYAML==6.0.2
rabbitizer==1.12.0
requests==2.32.3
sortedcontainers==2.4.0
spimdisasm==1.31.0
splat64==0.32.0
tqdm==4.67.1
urllib3==2.2.3
